@model InventoryManagementWeb.Models.Transaction

<h1>Transaction Details</h1>

<div>
    <h4>Transaction ID: @Model.TransactionId</h4>
    <h4>Product ID: @Model.ProductId</h4>
    <h4>Transaction Type: @Model.TransactionType</h4>
    <h4>Quantity: @Model.Quantity</h4>
    <h4>Date: @Model.Date</h4>
</div>
