@model IEnumerable<InventoryManagementWeb.Models.Transaction>

<h1>Transactions List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Product ID</th>
            <th>Transaction Type</th>
            <th>Quantity</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.TransactionId</td>
                <td>@transaction.ProductId</td>
                <td>@transaction.TransactionType</td>
                <td>@transaction.Quantity</td>
                <td>@transaction.Date</td>
            </tr>
        }
    </tbody>
</table>
